.nav-color {
    color: #79a9d1;
}
.about-resume {
    background-color: #3a4856;
    line-height: 3rem;
    color: white;
    font-style: normal;
    padding: 60px 80px;
    margin: 20px;
}

.footer-txt {
    font-weight: lighter;
}

.tosepeartewithnav {
    margin-top: 110px;
}

.hr {
    border-top: 5px solid;
}

.something {
    background-color: red;
}

.publish-date {
    font-size: smaller;
}

.reachmeLogo a {
    margin-right: 10px;
}

.navbaractive {
    font-weight: bold;
}

.formheading {
    text-decoration: none;
    color: #374151;
}

.flashmessage {
    margin-top: 56px;
}

.likebtn {
    color: rgba(128, 128, 128, 0.657);
}
.likebtn:hover {
    color: #3a4856;
}
.unlikebtn {
    color: #3a4856;
}
.unlikebtn:hover {
    color: rgba(128, 128, 128, 0.657);
}

/* For mail template */

.mailHeading {
    text-align: center;
    color: #79a9d1;
}
.mailPara {
    text-align: center;
    margin: 5px 25px;
}

.avatar {
    width: 13%;
    height: 13%;
    margin-left: 10px;
}

.avatar img {
    border-radius: 50%;
}

.verify-wait {
    margin: 300px 0;
}
